.header {
  position: relative;
  width: 100%;
  height: 100vh;
  .header-title {
    position: absolute;
    width: 85%;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    height: auto;
    text-align: justify;
    padding-left: 12px;
    h3 {
      font-size: 1rem;
      color: $red;
    }
    h1 {
      font-size: 2.3rem;
      color: $white;
    }
    h2 {
      font-size: 1.4rem;
      color: $gray;
    }
    p {
      width: 100%;
      margin-top: 1rem;
      font-size: 17px;
      color: $gray;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -10%;
      height: 120%;
      width: 2px;
      background: $red;
    }
  }
  .header-links {
    .header-links-mail {
      display: inline-block;
    }
    .header-links-other {
      @include flex(space-evenly, center, row);
    }
    position: absolute;
    width: auto;
    height: auto;
    bottom: 23%;
    left: 50%;
    transform: translate(-50%);
    height: auto;
    @include flex(space-evenly, center, row);
    &::after {
      content: "";
      z-index: -1;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 1px;
      width: 110%;
      background: $gray;
    }
    a {
      z-index: 999;
      position: relative;
      @include flex(center, center, row);
      text-decoration: none;
      width: 35px;
      height: 35px;
      font-size: 25px;
      padding: 10px;
      margin: 0 10px;
      color: $gray;
      background: $black-blue;
      &:hover {
        color: $red;
        transform: translateY(-3px);
      }
    }
  }
}
.header-phrase {
  position: absolute;
  width: auto;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%);
  height: auto;
  text-align: center;
  p {
    font-size: 1rem;
    color: $white;
    font-family: "Mulish", sans-serif;
    letter-spacing: 1px;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    margin-bottom: 200px;
    .header-title {
      width: 65%;
      height: auto;
      top: 25%;
      left: 10%;
      transform: none;
      h3 {
        font-size: 1.4rem;
      }
      h1 {
        font-size: 3.2rem;
      }
      h2 {
        font-size: 2rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
    .header-links {
      bottom: 17%;
      &::after {
        width: 120%;
      }
      a {
        margin: 0 15px;
        padding: 10px 25px;
      }
    }
    .header-phrase {
      p {
        font-size: 1.2rem;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    width: 80%;
    margin: auto;
    .header-title {
      width: 70%;
      height: auto;
      top: 22%;
      left: 10%;
      transform: none;
      h3 {
        font-size: 1.4rem;
      }
      h1 {
        font-size: 3.2rem;
      }
      h2 {
        font-size: 1.9rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
    .header-links {
      justify-content: space-between;
      width: 80%;
      padding: 0 12px;
      .header-links-mail {
        margin: 0;
        padding: 0;
        position: relative;
        a {
          margin: 0;
          padding: 0;
          width: auto;
          &::after {
            content: "Send me an Email!";
            font-size: 16px;
            margin-left: 12px;
            font-family: "Mulish", sans-serif;
            font-weight: 600;
            letter-spacing: 1px;
          }
        }
      }
      .header-links-other {
        margin: 0;
        padding: 0;
        position: relative;
        a {
          margin: 0;
          margin-left: 30px;
        }
        &::after {
          content: "";
          z-index: -1;
          position: absolute;
          left: unset;
          right: 12px;
          top: 50%;
          transform: translate(0%, -50%);
          height: 1px;
          width: 100%;
          background: $gray;
        }
      }
      a {
        width: 40px;
        height: 40px;
        font-size: 30px;
        transition: 0.2s;
      }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: -10%;
        height: 110%;
        width: 2px;
        background: $red;
      }
      &::after {
        background: $red;
        left: unset;
        transform: none;
        right: 0;
        top: -10%;
        height: 110%;
        width: 2px;
      }
    }
    .header-phrase {
      p {
        font-size: 1.2rem;
        margin: 0 30px;
      }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: -10%;
        height: 110%;
        width: 2px;
        background: $red;
      }
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: -10%;
        height: 110%;
        width: 2px;
        background: $red;
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    width: 60%;
    .header-title {
      width: 70%;
      h3 {
        font-size: 28px;
      }
      h1 {
        font-size: 62px;
      }
      h2 {
        font-size: 30px;
      }
      p {
        font-size: 20px;
      }
    }
    .header-links {
      justify-content: space-between;
      width: 80%;
      padding: 0 12px;
      .header-links-mail {
        a {
          &::after {
            font-size: 18px;
          }
        }
      }
      .header-links-other {
        margin: 0;
        padding: 0;
        position: relative;
        a {
          margin: 0;
          margin-left: 30px;
        }
        &::after {
          content: "";
          z-index: -1;
          position: absolute;
          left: unset;
          right: 12px;
          top: 50%;
          transform: translate(0%, -50%);
          height: 1px;
          width: 100%;
          background: $gray;
        }
      }
      a {
        width: 40px;
        height: 40px;
        font-size: 30px;
        transition: 0.2s;
      }
    }
  }
}
