.projects {
  position: relative;
  width: 85%;
  height: auto;
  margin: auto;
  padding: 4rem 0;
  @include flex(space-evenly, center, column);
  h2 {
    width: auto;
    display: block;
    position: relative;
    align-self: flex-start;
    margin-bottom: 3rem;
    padding-left: 15px;
    font-size: 24px;
    color: $white;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -10%;
      height: 120%;
      width: 2px;
      background: $red;
    }
    &::after {
      content: "";
      position: absolute;
      right: 0%;
      top: 50%;
      transform: translate(150%, -50%);
      height: 1px;
      width: 15%;
      background: $gray;
    }
  }
  .project-container {
    width: 100%;
    height: 450px;
    position: relative;
    padding: 0 10%;
    margin-bottom: 4rem;
    @include flex(center, center, column);
    .project-image {
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      width: 100%;
      height: 100%;
      z-index: 5;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $blue-opacity;
        z-index: 10;
      }
      img {
        position: relative;
        width: auto;
        height: 100%;
        left: -50%;
        opacity: 0.2;
      }
    }
    .project__data__container {
      width: auto;
      height: auto;
      z-index: 999;
      .project-desc {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        h3 {
          position: relative;
          display: inline-block;
          color: $white;
          font-size: 22px;
          width: auto;
          padding: 5px 0;
          margin-bottom: 10px;
        }
        p {
          font-size: 15px;
          color: $gray;
          width: 100%;
        }
      }
      .project-tools {
        width: auto;
        text-align: center;
        margin: 10px auto 3rem;
        span {
          color: $white;
          margin: 0 7px;
        }
      }
      .project-buttons {
        width: auto;
        height: auto;
        display: inline-block;
        a {
          text-decoration: none;
          color: $gray;
          font-size: 25px;
          margin-right: 10px;
          transition: 0.2s;
          &:hover {
            color: $red;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .projects {
    width: 80%;
    h2 {
      grid-area: title;
      font-size: 28px;
      display: inline-block;
      width: fit-content;
      padding-right: 15px;
      &::after {
        right: 0;
        width: 70%;
        transform: translate(100%, -50%);
      }
    }
    .project-container {
      width: 100%;
      height: 350px;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      align-items: center;
      gap: 10px;
      .project-image {
        img {
          left: 0;
          opacity: 1;
        }
      }
    }
    .project-one,
    .project-three {
      .project-image {
        grid-column: 1 / 8;
        position: relative;
        top: 0%;
        width: 100%;
        height: 100%;
        border: 2px solid $blue;
        img {
          left: 0;
          opacity: 1;
        }
        &::before {
          display: none;
        }
      }
      .project__data__container {
        grid-column: 6/-1;
        display: flex;
        flex-direction: column;
        position: absolute;
        padding: 0 10px;
        .project-desc {
          h3 {
            align-self: flex-end;
            font-size: 24px;
          }
          p {
            font-size: 16px;
            padding: 7px 10px;
            background: $blue;
          }
        }
        .project-tools {
          align-self: flex-end;
          margin: 10px 0 2rem;
        }
        .project-buttons {
          align-self: flex-end;
          a {
            margin-right: 0;
            margin-left: 12px;
          }
        }
      }
    }
    .project-two {
      .project-image {
        grid-column: 6 / -1;
        position: relative;
        top: 0%;
        width: 100%;
        height: 100%;
        border: 2px solid $blue;
        img {
          left: 0;
          opacity: 1;
        }
        &::before {
          display: none;
        }
      }
      .project__data__container {
        grid-column: 1/ 8;
        display: flex;
        flex-direction: column;
        position: absolute;
        padding: 0 10px;
        .project-desc {
          h3 {
            align-self: flex-start;
            font-size: 24px;
          }
          p {
            font-size: 16px;
            padding: 7px 10px;
            background: $blue;
          }
        }
        .project-tools {
          align-self: flex-start;
          margin: 10px 0 2rem;
        }
        .project-buttons {
          align-self: flex-start;
          a {
            margin-right: 0;
            margin-left: 12px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .projects {
    width: 70%;
    margin: 250px auto;
    h2 {
      font-size: 32px;
    }
    .project-container {
      .project-image {
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 10;
          background: $light-blue;
          opacity: 0.6;
          transition: 0.5s;
        }
        &:hover::after {
          opacity: 0;
        }
      }
      .project__data__container {
        .project-desc {
          h3 {
            font-size: 28px;
          }
          p {
            font-size: 18px;
          }
          em {
            font-size: 18px;
          }
        }
        .project-tools {
          span {
            font-size: 18px;
          }
        }
        .project-buttons {
          a {
            font-size: 30px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .projects {
    width: 55%;
    h2 {
      font-size: 34px;
    }
    .project-container {
      .project__data__container {
        .project-desc {
          h3 {
            font-size: 30px;
          }
          p {
            font-size: 20px;
          }

          em {
            font-size: 20px;
          }
        }
        .project-tools {
          span {
            font-size: 20px;
          }
        }
        .project-buttons {
          a {
            font-size: 32px;
          }
        }
      }
    }
  }
}
