<div class="flex flex-col">
  <p class="text-gray-300 text-pretty text-lg font-semibold">
    Hello, my name is Kevin. I am a self-taught frontend developer since 2018. I
    am passionate about learning and exploring interesting topics. In addition
    to the tech world, I also enjoy reading, writing, drawing, fitness, dancing,
    and gaming.
  </p>
</div>
