---
import LINKS from "../helpers/Links";
---

<footer class="rounded-lg shadow px-8 w-full mb-8">
  <div
    class="bg-zinc-900 w-full max-w-[740px] mx-auto rounded-md p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-gray-200 sm:text-center"
      >© 2024 <a
        href={LINKS.linkedin}
        target="_blank"
        rel="noreferrer noopener"
        class="hover:underline">Kevin Litardo</a
      >. All Rights Reserved.
    </span>
  </div>
</footer>
